* {
  margin: 0%;
}
.heads {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 15px;
}
.header {
  padding: 150px;
}
.flower {
  width: 400px;
  padding: 120px 220px 0px 0%;
  margin: 0;
  height: 600px;
  margin-top: zero;
}
.button-primary {
  padding: 15px;
  width: 100px;
  background-color: #e55473;
  border: none;
  color: white;
  border-radius: 8px;
}
.heading {
  display: flex;
  font-size: 50px;
  font-family: Lato;
  font-style: normal;
}
.head-description {
  margin-top: 15px;
}
.button-primary {
  margin-top: 15px;
}
/* main section style */
/* about section style */
.about {
  padding: 100px;
  border-radius: 10px;
  margin: 0px 300px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: Lato;
}
.section-des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}
.fulls {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 410px;
  height: 428px;
}
.full {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline;
}
.pic {
  display: flex;
  justify-content: space-evenly;
}
.flower-con {
  width: 100%;
  margin: 0%;
  height: 320px;
  flex-shrink: 0;
}
.abouts {
  padding: 40px;
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.05);
  margin: 250px;
}
.abouts-info-container {
  display: flex;
  justify-content: space-around;
}
.abouts-info {
  text-align: center;
}
.abouts-in {
  padding: 280px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 100px;
  display: flex;
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
}
.paragaph {
  text-align: center;
  margin-bottom: 15px;
}
.buttons {
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  color: white;
}
#what-i-do {
  padding: 30px 440px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}
.devision {
  display: flex;
}
.photos {
  padding: 10px;
  width: 310px;
  height: 100px;
}
.section-class {
  border-radius: 8px;
  margin-bottom: 100px;
  margin-top: 110px;
  padding: 90px;
}

/* footer{
    background: #111010;
    padding: 150px;
    text-align: center;
    color: #E55473;
} */
